#ChatBig{width: 500px; height: 450px; border:1px solid #000; margin: auto;}
#ChatMessages{width: 500px; height: 400px;}

#ChatText{width: 495px; height: 48px; border-bottom: 1px solid #333;}

#ChatText:focus{outline:none;}
